/**
 * @file
 * Styles for uc_optile module.
 */

.payment-details-optile .optile-network label {
    float: left;
    padding: 6px;
    text-align: right;
    width: 15em;
}

.payment-details-optile input,
.payment-details-optile textarea,
.payment-details-optile select {
    border: 1px solid #CCCCCC;
    padding: 4px;
}
.payment-details-optile select {
    margin-right: 4px;
}
.payment-details-optile input[type="radio"] {
    margin-top: -20px;
}
.payment-details-optile .row {
    position: relative;
    margin: 10px 0;
}
.payment-details-optile .row:before,
.payment-details-optile .row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.payment-details-optile .row:after {
    clear: both;
}
.payment-details-optile .account .row {
    clear: left;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 2px;
}
.payment-details-optile .verificationCode {
    width: 40px;
}
.payment-details-optile .col {
    display: block;
    float: left;
}
.payment-details-optile .row3 .col2 {
    position: relative;
}
.payment-details-optile .row3 .col2 {
    position: relative;
}
.payment-details-optile .row3 .col3 span  {
    margin-left: 35px;
}
.payment-details-optile .row3 .col2 .after {
    cursor: pointer;
    background-color: #dbdbdb;
    border: 1px solid #3d3d3d;
    border-radius: 30px 30px 30px 30px;
    color: #3d3d3d;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    left: 60px;
    line-height: 1;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 15px;
}
.payment-details-optile .hint {
    display: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    top: 40px;
    left: 192px;
    z-index: 10;
}
.payment-details-optile .hint:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #dbdbdb transparent;
    top: -20px;
    left: 50px;
}
.payment-details-optile .hint:after {
    content: "";
    height: 0;
    position: absolute;
    width: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #ffffff transparent;
    top: -18px;
    left: 50px;
}
.optile-error-msg {
    color: #FF0000;
    display: inline-block;
    margin-right: 10px;
    padding: 6px;
}
.optile-info-msg { display: none; }


.payment-details-optile input.validation-failed,
.payment-details-optile textarea.validation-failed,
.payment-details-optile select.validation-failed {
    border: 2px solid #ff0000;
}
